<style>
  .box{
    position: absolute;
    display:flex;
    height: 100%;
    width: 100%;
    flex-direction: row;

  }
  .item{
    position: relative;
    /* height:800px; */
    width:100%;
     /* margin:5px; */
  }

  .toolbar {
    width:45px;
    height: 100%;
  }

  .mappa {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }


</style>




<div class="box">
  <!-- <div id="mapO" class="item"></div> -->
  <mat-toolbar class="toolbar" fxLayout="column">
      <mat-button-toggle-group vertical=true class="mat-body">
        <mat-button-toggle mat-button (click)="openCatasto(drawer)">CAT</mat-button-toggle>
        <mat-button-toggle mat-button>TAV</mat-button-toggle>
        <mat-button-toggle mat-button>AMM</mat-button-toggle>
        <mat-button-toggle mat-button (click)="openAskingPrice(drawer)">AP</mat-button-toggle>
      </mat-button-toggle-group>

  </mat-toolbar>
  <mat-drawer-container class="item" [hasBackdrop]=false>
    <mat-drawer #drawer style="width: 400px">
      <ng-template #templatecomponent></ng-template>
      
    </mat-drawer>
    <mat-drawer-content>
      <div id="mapL" class="mappa"></div>
    </mat-drawer-content>    
  </mat-drawer-container>
</div>



